<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">

		<link href="../assets/xinyun-logo-icon.ico" type="image/x-icon" rel="shortcut icon">
		<link href="" rel="pre">
		<title>云安行网关_全球第三方云端数据安全与控制技术服务</title>
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<meta content="全球第三方云端数据安全与控制技术服务" name="description">
		<meta content="信云科技，信云，云安行，云安全，第三方，云网关，云安行网关，软件定义存储，TrustCloud" name="keywords">
		<!-- 引入 Bootstrap -->
		<link href="../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
		<script src="../bootstrap-3.3.7-dist/js/jquery.min.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="../xinyunjs/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../xinyuncss/bootstrapCustom.css" />
		<script src="../xinyunjs/calculatPrice.js" type="text/javascript" charset="utf-8"></script>

		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

	</head>

	<body>
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../index.html">
						<div style="display: inline-block;">
							<img src="../assets/logo/logo 5.png" / style="height: 30px;">
						</div>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">

					<ul class="nav navbar-nav navbar-right" id="mytab">
						<li><a href="../index.html">首页</a></li>
						<li class="active"><a href="#">产品与服务</a></li>
						<li><a href="#">客户案例</a></li>
						<li><a href="../about.html">关于</a></li>
						<li><a href="../Manager/signin/sigin.html">登录／注册</a></li>
						<li>
							<button type="button" class="btn btn-default navbar-btn">控制台</button>
						</li>
						<li>
							<a></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">

			<div id="fspart1" class="row section">
				<h1>全球首创第三方云安行存储技术</h1>
				<p>让你对云端数据享有完整的控制权，保护云端数据的安全与隐私，让你的云端数据不再裸跑,谁还没有点儿小秘密呢？</p>
				<img src="../assets/home/product.png" />
				<a href="../Manager/signin/sigin.html">立即使用</a>
			</div>

			<hr/>

			<div id="fspart2" class="row section">

				<h1>云安行的存储三大定律</h1>
				<div class="row">

					<div class="col-md-2 col-lg-offset-3">
						<img src="../assets/home/dl3.png" style="width: 100%; height: 100%" />
					</div>
					<div class="col-md-2">
						<img src="../assets/home/dl2.png" style="width: 100%; height: 100%" />
					</div>
					<div class="col-md-2">
						<img src="../assets/home/dl1.png" style="width: 100%; height: 100%" />
					</div>

				</div>

			</div>
			<hr>
			<div id="fspart3" class="row section">
				<h1>资源下载</h1>
				<div class="col-lg-1 btn btn-default btn-lg ">
					<a href="https://github.com/upyun/android-push-sdk">GitHub</a>
				</div>
			</div>
			<hr>
			<div id="fspart4" class="row section">
				<h1>价格</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>服务商</th>
							<th>价格链接</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td>七牛</td>
							<td><a href="http://www.qiniu.com/pricing">七牛云价格方案</a></td>
						</tr>
						<tr>
							<td>腾讯云</td>
							<td><a href="https://www.qcloud.com/document/product/430/5871">腾讯云价格方案</a></td>
						</tr>

						<tr>
							<td>百度云</td>
							<td><a href="https://cloud.baidu.com/product/bos.html">百度云价格方案</a></td>
						</tr>

						<tr>
							<td>阿里云</td>
							<td><a href="https://www.aliyun.com/price/product#/oss/detail">阿里云价格方案</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div id="fspart5" class="row section">
				<h1>计算器</h1>

				<div class="col-md-4 col-lg-offset-1">
					<div class="input-group">
						<span class="input-group-addon">所需存储空间：</span>
						<input v-model="StorageInput" type="text" class="form-control" placeholder="所需存储空间">
						<span class="input-group-addon">GB</span>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">请求次数：</span>
						<input v-model="TimesInput" type="text" class="form-control" placeholder="请求次数">
						<span class="input-group-addon">万次／日</span>
					</div>
					<br>

					<div class="input-group">
						<span class="input-group-addon">预计流量：</span>
						<input v-model="LiuLiangInput" type="text" class="form-control" placeholder="预计流量">
						<span class="input-group-addon">GB／日</span>
					</div>
				</div>

				<div class="col-md-3 col-lg-offset-1">
					<div class="input-group">
						<span class="input-group-addon">七牛</span>
						<input v-model="yunpan.qiNiuInput" type="text" class="form-control">
						<span class="input-group-addon">%</span>
					</div>

					<br>

					<div class="input-group">
						<span class="input-group-addon">百度</span>
						<input v-model="yunpan.baiDuInput" type="text" class="form-control">
						<span class="input-group-addon">%</span>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">阿里</span>
						<input v-model="yunpan.aliInput" type="text" class="form-control">
						<span class="input-group-addon">%</span>
					</div>

				</div>

				<p>预计总价格: {{ totalPrice }}</p>

			</div>

		</div>

		<script>
			new Vue({
				el: '#fspart5',
				data: {
					StorageInput: '1',
					LiuLiangInput: '2',
					TimesInput: '0',
					totalPrice: '0',
					stopContinue: false,
					yunpan: {
						qiNiuInput: '100',
						baiDuInput: '0',
						aliInput: '0'
					},
				},
				methods: {
					replaceInteger: function(sourceValue) {
						var tempvalue = sourceValue.replace(/[^\d]/g, '');
						tempvalue = tempvalue.replace(/^0(.|\n)/, '0');
						return tempvalue;
					},
					resetPresent: function(currentkey, offsetValue) {
						var i = 0,
							dex = 0;
						var keys = [];
						for (var p in this.yunpan) {
							keys.push(p);
							if (p == currentkey) {
								dex = i;
							}
							i++;
						}
						var needValue = offsetValue;
						dex += 1;
						for (var j = 0; j < keys.length; j++) {
							if (dex > keys.length - 1) {
								dex = 0;
							}
							var newkey = keys[dex];
							var currentValue = this.yunpan[newkey];
							var remainValue = parseInt(currentValue, 10) + parseInt(needValue, 10);
							if (remainValue < 0) {
								this.stopContinue = true;
								Vue.set(this.yunpan, newkey, 0);
								needValue = remainValue;
							} else {
								this.stopContinue = true;
								Vue.set(this.yunpan, newkey, remainValue);
								this.calculating();
								break;
							}
							dex += 1;
						}
					},
					calculating: function() {
						this.StorageInput = this.replaceInteger(this.StorageInput); //不会死循环
						this.LiuLiangInput = this.replaceInteger(this.LiuLiangInput);
						this.TimesInput = this.replaceInteger(this.TimesInput);
						var totalPrice  = qiNiuPrice(this.StorageInput*this.yunpan.qiNiuInput/100.,this.TimesInput,this.LiuLiangInput)+
											baiDuPrice(this.StorageInput*this.yunpan.baiDuInput/100.,this.TimesInput,this.LiuLiangInput)+
											aliPrice(this.StorageInput*this.yunpan.aliInput/100.,this.TimesInput,this.LiuLiangInput);
						this.totalPrice = totalPrice+'元／月';
					}
				},
				
				watch: {
					'StorageInput': 'calculating',
					'LiuLiangInput': 'calculating',
					'TimesInput': 'calculating',
					'yunpan.qiNiuInput': function(val, oldVal) {
						var offset = oldVal - val;
						if (offset == 0 || this.stopContinue) {
							this.stopContinue = false;
							return;
						}
						this.resetPresent('qiNiuInput', offset);
					},
					'yunpan.baiDuInput': function(val, oldVal) {
						var offset = oldVal - val;
						if (offset == 0 || this.stopContinue) {
							this.stopContinue = false;
							return;
						}
						this.resetPresent('baiDuInput', offset);
					},
					'yunpan.aliInput': function(val, oldVal) {
						var offset = oldVal - val;
						if (offset == 0 || this.stopContinue) {
							this.stopContinue = false;
							return;
						}
						this.resetPresent('aliInput', offset);
					}
				}
			})
		</script>
	</body>

	<footer class="footer">
		<div class="container" style="margin-top: 30px; width: 80%; ">

			<div class="row">

				<div class="col-md-4">
					<dl>
						<dt>关 于</dt>
						<dd><a href="about_profile.html">公司简介</a></dd>
						<dd><a href="about_tos.html">服务条款</a></dd>
						<dd><a href="about_join.html">加入我们</a></dd>
						<dd><a href="about.html">关于我们</a></dd>
					</dl>
				</div>

				<div class="col-md-4">
					<dl>
						<dt>售 前</dt>
						<dd>售前 QQ：200576786</dd>
						<dd>电话咨询：<span class="wrap">0571-81020203</span></dd>
						<dd>邮箱咨询：<span class="wrap"><a href="mailto:contact@trustcloud.cn">contact@trustcloud.cn</a></span></dd>

					</dl>
				</div>

				<div class="col-md-4">
					<dl class="aftersale"><dt>售 后</dt>
						<dd>售后：<a href="http://support.upyun.com/kchat/18915?group=22540&from=mainsite" target="_blank">点击在线咨询</a></dd>
						<dd>电话咨询：<span class="wrap">0571-81020204</span></dd>
						<dd>技术支持：<span class="wrap"><a href="mailto:contact@trustcloud.cn">contact@trustcloud.cn</a></span></dd>
					</dl>
				</div>

			</div>

		</div>
		<div class="container" style="text-align: center;  padding-bottom: 20px;">
			<div style="font-size: 12px;display: inline-block;vertical-align: bottom"> &copy;</div>
			<div style="display: inline-block;  font-size: 11px;">信云科技. All rights reserved. 京ICP备14033153号-1</div>
		</div>

	</footer>

</html>